{% include header.html %}

<body>
    <main>
        <div class="nav-pusher"></div>
        {{content}}

        {%- if site.posts.size > 0 -%}
        <h1>{{ page.list_title | default: "Funny Blog Posts" }}</h1>

        {%- for post in site.posts -%}

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h3>

        {%- endfor -%}

        {%- endif -%}
        <div class="foot-pusher"></div>
    </main>
</body>

{% include footer.html %}